p.tipsyuyue{
    margin:10px 0;
    text-align: center;
    color: #5a5a5a;
}
td{
    line-height: 30px;
    color: #999;
    font-size: 14px;
}
td input{
    width:610px;
    height:34px;
    border:1px solid #ccc;
}
td input[type=submit]{
    background: #2A3035;
    outline:none;
    color: #fff;
    cursor: pointer;
}
td textarea{
     width:610px;
     height:132px;
     border:1px solid #ccc;
    resize: none;
 }
table{
    width:100%;
    display: flex;
    justify-content:center;
}
.content td h2{
    text-align: center;
    font-size: 24px;
    margin:10px 0;
}